* {
    box-sizing: border-box;
}

body {
    margin-top: 0px;
    font-family: 'Gochi Hand', cursive;
    font-family: 'Mina', sans-serif;}

#navbar {
    padding: 0%;
    border: 2px solid black;
    border-left: 0px;
    border-right: 0px;
}

#navbar-content {
    background-color: rgb(148, 147, 147);
    padding: 0%;
    
}

#navbar-heading {
    font-size: 42px;
    font-weight: bolder;

}


#navbar-toggle-items {
    text-align: center;
    font-size: 30px;
    border: 2px solid black;
    background-color: white;
}

@media (min-width: 576px) {
    .hidden-sm {
        display: none;
    }
}

@media (min-width: 768px) {
    .hidden-md {
        display: none;
    }
}

@media (min-width: 992px) {
    .hidden-lg {
    display: none;
    }
}


@media (min-width: 1200px) {
    .hidden-xl {
        display: none;
    }
}

